@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1E293B;
}

::-webkit-scrollbar-thumb {
  background: #3B82F6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563EB;
}

body {
  background-color: #0F172A;
  color: #F8FAFC;
}